/*Form*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    border: 1px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color: #3a3a3a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    padding: 20px;
}

button{
    background-color: #866D4B;
    color: white;
    width: 212px;
    height: 28px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #606060;
    color:rgb(0, 0, 0)
}

.input{
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Quires*/
@media screen and (min-width: 768px) {
    #save-later-form,
    .alert {
    width: 60vw;
    }
}

@media screen and (min-width: 992px) {
    #save-later-form,
    .alert {
    width: 40vw;
    }
}